<div class="bb" >

    <h1 class="cc ">portfolio Componnet</h1>
    <div class="twoline text-center">
      <div class="line"></div>
      <i class="fa-solid fa-star fa-sm" style="color: #2C3E50;"></i>
      <div class="line"></div>
    </div>
  


</div>
<div class="container">
    <div class="formv">
        <div class="row">
          <div class="col-md-6">
            
            
              <input type="text" class="form-control m-5" placeholder="username">
           
            
              <input type="text" class="form-control m-5" placeholder="Userage">
              <input type="text" class="form-control m-5" placeholder="UserEmail">
              <input type="text" class="form-control m-5 " placeholder="UserPassword">
              <button class="btn btn-success m-5">Send Message</button>

             
          </div>
      </div>
        </div>
</div>

        
        <!-- <label>
            username:  
        </label>
      
        <input type="text" class="form-control ">
       
        <label>
            username:  
        </label>
      
        <input type="text" class="form-control ">
       
         -->

