
<div class="port ">

<div class="mt-3" >

    <h1 class="cc ">portfolio Componnet</h1>
    <div class="twoline text-center">
      <div class="line"></div>
      <i class="fa-solid fa-star fa-sm" style="color: #2C3E50;"></i>
      <div class="line"></div>
    </div>
  


</div>
<div class="container">
    <div class="row g-5">

        <div class="col-md-4 " *ngFor="let one of imagearr" >
           <div class="v" >
            <img [src]='one' class="w-100 " alt="" (click)="show(hamada)" #hamada>
            <div class="overlay">
                <div class="w">
                <div class="plus"></div>
                <div class="plus2"></div>
            </div>
            </div>
        </div>
         </div>
</div>


   

</div>

